.onediv{
    padding-right: 35px;
    padding-left: 35px;
    text-align: center;
    width: auto;
    /* background-color: cyan; */
    /* height: 100pt; */
    font-size: larger;
}

.img{
    height: 300px;
}

.text{
    padding-right: 35px;
    padding-left: 35px;
    /* text-align: center; */
    font-size: larger;
}
.btn{
    text-align: center;
    align-content: center;
}
.button{
    width: auto;
    height: auto;
    border-radius: 4px;
    align-items: center;
    align-content: center;
}

  body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
  }
  p {font-size: 16px;}
  .margin {margin-bottom: 45px;}
  .bg-1 { 
    background-color: #ffffff; /* Green */
    color: #555555;
  }
  .bg-2 { 
    background-color: #2f2f2f; /* Dark Blue */
    color: #ffffff;
  }
  .bg-3 { 
    background-color: #ffffff; /* White */
    color: #555555;
  }
  .bg-4 { 
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
  }
  .container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
  }
  .navbar-nav  li a:hover {
    color: #1abc9c !important;
  }
  .nav_top{
    height: 50px;
  }
  .navbar-header a:hover {
    color: #1abc9c !important;
  }
  .size{
    font-size:x-small;
    text-decoration: underline;
  }
  .globe{
    width: 100px;
  }